@media only screen and (min-width: 69.7rem) {
    main {
        width: 69.625rem;
        height: 33.25rem;
        display: grid;
        grid-template-columns: repeat(3, 21.875rem);
        grid-template-rows: repeat(4, 6.8125rem);
        gap: 2rem;
        margin: 0 auto;
    }
    section {
        margin: 0;
        width: 21.875rem;
    }
    article {
        width: 32rem;
        font-size: 2rem;
    }
    h1, b {
        font-size: 2rem;
    }
    .section-cyan {
        grid-area: 2 / 1 / 4 /3;
    }
    .section-red {
        grid-area: 1 / 2 / 3 / 2;
    }
    .section-orange { 
        grid-area: 3 / 2 / 4 / 2;
    }
    .section-blue { 
        grid-area: 2 / 3 / 3 / 3;
    }
}

@media only screen and (max-width: 19.75rem) {
    article, section, footer {
        width: 100%;
        height: auto;
    }
    img {
        position: static;
        margin: 0 auto;
    }
}