:root { /* Declaring some variables to be able to change the values if needed */
    --colour-background: hsl(0, 0%, 98%);
    --colour-red: hsl(0, 78%, 62%);
    --colour-cyan: hsl(180, 62%, 55%);
    --colour-orange: hsl(34, 97%, 64%);
    --colour-blue: hsl(212, 86%, 64%);
    --colour-grey-500: hsl(234, 12%, 34%);
    --colour-grey-400: hsl(210, 6%, 44%);
    --colour-white: hsl(0, 0%, 100%);

    --light-font-weight: 200;
    --regular-font-weight: 400;
    --semibold-font-weight: 600;

    --font-family: 'Poppins', monospace;

    --main-font-size: 16px;   /* Setting main pixel value */

    --border-radius: 0.5rem;
}
html {
    font-size: var(--main-font-size);           /*  Setting values */
    font-family: var(--font-family);            /*  to <html> tag */
    font-weight: var(--regular-font-weight);    /*  so they would be inherited from it */
}
body {
    display: flex;                      /* Making main section */
    flex-direction: column;             /* and footer section */  
    justify-content: space-around;      /* having a gap beetwen them */

    background-color: var(--colour-background);

    padding-top: 3.5rem;                /* Setting top gap so the content not starts from the very top */
    
}
article {
    width: 18.75rem;           /* Styling article */
    margin-inline: auto;       /* section */
    margin-bottom: 3.5rem;
    text-align: center;
}
main {
    box-sizing: border-box;   /* Making main section */
                              /* flex and changing */
    display: flex;            /* flex direction */
    flex-direction: column;
    gap: 2rem;
}
section {                       /* Styling box sections*/
    box-sizing: border-box;
    width: 19.5rem;
    height: 15.625rem;
    padding: 2rem;
    margin: 0 auto;
    border-radius: var(--border-radius);
    border-top: 4px solid transparent;

    background-color: var(--colour-white);
}
footer {                                    /* Styling footer section */
    box-sizing: border-box;
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1.5rem;
    border-top: 4px solid transparent;
    border-radius: var(--border-radius);

    font-size: 1rem;
    line-height: 2;
    text-align: center;

    background-color: var(--colour-white);
    border-color: green;
}
img {                               /* Making image relative to box section */
    position: relative;
    left: 75%;
}
h1 {
    font-weight: var(--light-font-weight);  /* Setting font parameters to main heading */
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--colour-grey-400);
}
b, h2 {                                        /* Joining <h2> and <b> with the same values */
    font-weight: var(--semibold-font-weight);
    color: var(--colour-grey-500);
}
b {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
p {
    font-size: 0.875rem;
    line-height: 1.45;
    color: var(--colour-grey-400);

    margin-block-start: 0.5rem;
}
a {
    text-decoration: none;

    color: var(--colour-orange);

    border-bottom: 0.125rem solid transparent;      /* Making transition to <a>*/
    transition: border-color 500ms ease-in 0s;      /* in the footer section */
}

article p {
    line-height: 1.35;
    color: var(--colour-grey-500);

    margin-top: 1.5rem;
}
section p {
    margin-bottom: 2rem;
}

a:hover {
    border-color: var(--colour-orange);         /* Hover effect to <a> */
}

.section-cyan {                                     /* Styling different */
    border-color: var(--colour-cyan);               /* border colors of */
}                                                   /* box sections */
.section-red {
    border-color: var(--colour-red);
}
.section-orange {
    border-color: var(--colour-orange);
}
.section-blue {
    border-color: var(--colour-blue);
}

@media (prefers-reduced-motion: reduce) { /*  Removing any transitions for people who prefers reduced motion */
  a {
    transition: none;
  }

  a:hover {
    border: none;
  }
}