:root {
    --colour-background: hsl(0, 0%, 98%);
    --colour-red: hsl(0, 78%, 62%);
    --colour-cyan: hsl(180, 62%, 55%);
    --colour-orange: hsl(34, 97%, 64%);
    --colour-blue: hsl(212, 86%, 64%);
    --colour-grey-500: hsl(234, 12%, 34%);
    --colour-grey-400: hsl(210, 6%, 44%);
    --colour-white: hsl(0, 0%, 100%);

    --light-font-weight: 200;
    --regular-font-weight: 400;
    --semibold-font-weight: 600;

    --font-family: 'Poppins', monospace;

    --main-font-size: 16px;

    --border-radius: 0.5rem;
}
html {
    font-size: var(--main-font-size);
    font-family: var(--font-family);
    font-weight: var(--regular-font-weight);
}
body {
    background-color: var(--colour-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-top: 3.5rem;
    
}
article {
    text-align: center;
    width: 18.75rem;
    margin-inline: auto;
    margin-bottom: 3.5rem;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section {
    box-sizing: border-box;
    width: 19.5rem;
    height: 15.625rem;
    padding: 2rem;
    margin: 0 auto;
    border-radius: var(--border-radius);
    border-top: 4px solid transparent;
    background-color: var(--colour-white);
}
footer {
    font-size: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 20rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: var(--colour-white);
    border-top: 4px solid transparent;
    border-radius: var(--border-radius);
    border-color: green;
}
img {
    position: relative;
    left: 75%;
}
h1 {
    font-weight: var(--light-font-weight);
    color: var(--colour-grey-400);
    font-size: 1.5rem;
    line-height: 1.4;
}
b, h2 {
    font-weight: var(--semibold-font-weight);
    color: var(--colour-grey-500);
}
b {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
p {
    color: var(--colour-grey-400);
    font-size: 0.875rem;
    line-height: 1.45;
    margin-block-start: 0.5rem;
}
article p {
    color: var(--colour-grey-500);
    line-height: 1.35;
    margin-top: 1.5rem;
}
section p {
    margin-bottom: 2rem;
}
.section-cyan {
    border-color: var(--colour-cyan);
}
.section-red {
    border-color: var(--colour-red);
}
.section-orange {
    border-color: var(--colour-orange);
}
.section-blue {
    border-color: var(--colour-blue);
}
